<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>
      <h3>
         <a href = "{{ url_for('show_all') }}">CRUD</a>
      </h3>
      <hr/>
      {%- for mensagem in get_flashed_messages() %}
         {{ mensagem }}
      {%- endfor %}
      <h3>Usuario (<a href = "{{ url_for('novousuario') }}">Adicionar usuarios</a>)</h3>
      <table>
         <thead>
            <tr>
               <th>Email</th>
               <th>Nome</th>
               <th>Sobrenome</th>
            </tr>
         </thead>
         <tbody>
            {% for usuario in usuarios %}
               <tr>
                  <td>{{ usuario[1] }}</td>
                  <td>{{ usuario[2] }}</td>
                  <td>{{ usuario[3] }}</td>
                  <td>{{ usuario[4] }}</td>
                  <td>
                     <a href="/update/{{usuario.id}}">Editar</a>
                     <a href="/delete/{{usuario.id}}">Deletar</a>
                  </td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
   </body>
</html>
