<!DOCTYPE html>
<html>
   <body>

      <h3>Usuário editar</h3>
      <hr/>

      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}

      <form action = "/update/{{ produto[0] }}" class="container" method = "post">

         <label for = "Cod_barras">Código de barras</label><br>
         <input type = "text" name = "Cod_barras" placeholder = "Cod_barras" value="{{ produto[1] }}"/><br>

          <label for = "Nome">Nome</label><br>
         <input type = "text" name = "Nome" placeholder = "Nome" value="{{ produto[2] }}"/><br>

         <label for = "Descricao">Descricao</label><br>
         <input type = "text" name = "Descricao" placeholder = "Descricao" value="{{ produto[3] }}"/><br>

          <label for="status">Status</label><br>
          <select name="status_produto" class="Input"  value="{{ produto[4] }}>
            {% for statu in status  %}
            <option value="{{ statu[0] }}">{{ statu[1] }}</option>
            {% endfor %}
          </select><br>

          <label for="Preco_normal">Preco_normal</label><br>
         <input type="text" name="Preco_normal" placeholder="Preco_normal" value="{{ produto[5] }}"/><br>

         <label for="Preco_com_desconto">Preco_com_desconto</label><br>
         <input type="text" name="Preco_com_desconto" placeholder="Preco_com_desconto" value="{{ produto[6] }}"/><br>

          <label for="Quantidade">Quantidade</label><br>
         <input type="text" name="Quantidade" placeholder="Quantidade" value="{{ produto[7] }}"/><br>

         <input type = "submit" value = "Submit" />
      </form>
   </body>
</html>
